
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" ><i class="fa-solid fa-coins"></i>&nbsp;Expense-Tracker</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="ms-auto">
          <form class="d-flex" role="search" style="width: 500px;"> <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
    <button class="btn btn-outline-primary" type="submit">Search</button>
</form>
        </div>
        <div class="navbar-nav ms-auto align-items-center">
    <a class="nav-link me-3" href="/listings/new">Home</a>
    
    <a class="btn btn-outline-primary rounded-pill me-2 px-3" href="/signup">Sign-Up</a>
    <a class="btn btn-outline-primary rounded-pill me-2 px-3" href="/login">Login</a>
    
    <a class="nav-link ms-2" href="/logout">About us</a>
</div>
      </div>
    </div>
  </nav>
