<% layout("layouts/boilerplate") %>
<div class="container-fluid px-0">
    <div class="row g-0"> <div class="col-12">
            <div class="card border-0 shadow-sm" style="width: 100% !important; min-height: 200px;">
                <div class="card-body p-5">
                    <h1 class="card-title fw-bold ">Shubhang's Monthly expense</h1>
                    <p class="card-text lead">
                     <h2 class="card-title fw-bold">50000</h2>
                     <h3 class="card-title fw-bold">Expense this month: 5000 </h1>
                    </p>
                    <a href="#" class="btn btn-primary btn-lg">Add Transaction</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-0"> <div class="col-12 mt-5 mb-4">
            <div class="card border-0 shadow-sm" style="width: 100% !important; min-height: 200px;">
                <div class="card-body p-5">
                    <h1 class="card-title fw-bold">Transaction History</h1>
                    <p class="card-text lead">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Amount</th>
                            <th>type</th>
                        </tr>
                        <tr>

                        </tr>
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
</div>  